body {
  margin: 0;
  background-color: #d5e1ef;
  text-align: center;
}

body,
html {
  height: 100%;
}

.container {
  width: 50%;
  max-width: 300px;
  margin: 0 auto;
  background-color: #fff;
  padding: 1.5em;
  border-radius: 1rem;
}

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.attribution {
  margin-top: 1rem;
}

img {
  width: 100%;
  border-radius: 1rem;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
  }
}
